$body-bg: #000;
$body-color: #fff;

$primary: #19e68c;
$secondary: #b3b3b3;
$success: #198754;
$info: #0dcaf0;
$warning: #ffc107;
$danger: #e91429;
$light: #fff;
$dark: #121212;

@import "../node_modules/bootstrap/scss/bootstrap";
