$body-bg: #121212;
$body-color: #fff;

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$primary: #19e68c;
$secondary: #b3b3b3;
$success: #1f1f1f;
$info: #121212;
$warning: #703e36;
$danger: #e91429;
$light: #fff;
$dark: #000;

$enable-shadows: false;
$input-focus-box-shadow: none;

$tooltip-bg: $dark;
$tooltip-color: $light;

$font-size-base: 1rem;
$font-sizes: (
  1: $font-size-base * 2.5,
  2: $font-size-base * 2,
  3: $font-size-base * 1.75,
  4: $font-size-base * 1.5,
  5: $font-size-base * 1.25,
  6: $font-size-base,
  7: $font-size-base * 0.875,
  8: $font-size-base * 0.75,
);

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 4,
  7: $spacer * 5,
  8: $spacer * 6,
  9: $spacer * 7,
  10: $spacer * 8,
  11: $spacer * 9,
  12: $spacer * 10,
  13: $spacer * 11,
  14: $spacer * 12,
  15: $spacer * 13,
);

$dropdown-link-active-color: $primary;
$dropdown-link-active-bg: initial;
$dropdown-item-padding-y: $spacer * 0.5;
$dropdown-item-padding-x: $spacer;
$dropdown-header-padding-y: $dropdown-item-padding-y;

$form-range-thumb-height: 0.5rem;
$form-range-thumb-focus-box-shadow-width: 0;
$form-range-track-bg: $gray-800;

$form-range-thumb-width: 0.5rem;
$form-range-thumb-height: $form-range-thumb-width;
$form-range-thumb-bg: $primary;
$form-range-thumb-border: 2px solid $light;

$list-group-action-hover-color: $light;
$list-group-hover-bg: $success;
$list-group-action-active-bg: $success;
$list-group-action-active-color: $light;

$dropdown-dark-bg: $gray-900;
$dropdown-dark-color: $gray-400;

$modal-content-bg: #282828;
$modal-md: 524px;

$utilities: (
  "width": (
    property: width,
    class: w,
    values: (
      25: 25%,
      30: 30%,
      40: 40%,
      50: 50%,
      75: 75%,
      100: 100%,
      auto: auto,
      48px: 48px,
      72px: 72px,
      60px: 60px,
      64px: 64px,
      145px: 145px,
      2rem: 2rem,
      3rem: 3rem,
      9rem: 9rem,
    ),
  ),
  "height": (
    property: height,
    class: h,
    values: (
      25: 25%,
      50: 50%,
      75: 75%,
      100: 100%,
      auto: auto,
      48px: 48px,
      72px: 72px,
      60px: 60px,
      64px: 64px,
      145px: 145px,
      2rem: 2rem,
      3rem: 3rem,
    ),
  ),
  "flex-grow": (
    responsive: true,
    property: flex-grow,
    class: flex,
    values: (
      grow-0: 0,
      grow-1: 1,
      grow-2: 2,
      grow-3: 3,
      grow-4: 4,
      grow-5: 5,
      grow-6: 6,
      grow-7: 7,
      grow-8: 8,
      grow-9: 9,
      grow-10: 10,
      grow-11: 11,
      grow-12: 12,
    ),
  ),
  "translate-middle": (
    property: transform,
    class: translate-middle,
    values: (
      null: translate(-50%, -50%),
      x: translateX(-50%),
      y: translateY(-50%),
      y-full: translateY(100%),
    ),
  ),
);

@import "../node_modules/bootstrap/scss/bootstrap";

body {
  scroll-behavior: auto;
}

.text-wide {
  letter-spacing: 1.5px;
}

.btn-scale {
  transform: scale(1);
  transition: all 0.15s ease-in-out;

  &:hover {
    transform: scale(1.02);
  }
}

.btn-custom {
  background-color: transparent;
  transition: all 0.15s ease-in-out;
  opacity: 0.9;

  &:hover {
    background-color: $success;
    opacity: 1;
  }

  &:active {
    border-color: transparent !important;
  }
}

.btn-transparent {
  background-color: transparent;

  &:active {
    border-color: transparent !important;
  }
}

.bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.dropdown-toggle::after,
.dropup .dropdown-toggle::after {
  display: none !important;
}

.slider {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE 10+ */
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */

  &-item {
    align-self: stretch;
  }

  &-control-prev,
  &-control-next {
    background-color: $info;
    color: $white;
    font-size: 1.5rem;
    font-weight: bold;
    border: 0;
    opacity: 0.5;
    transition: opacity 0.15s ease;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}

.play-progress,
.volume-progress {
  overflow: hidden;
  border-radius: 1rem;

  &::-webkit-slider-thumb {
    box-shadow: -25.4rem 0 0 25rem $primary;
  }
  /** FF*/
  &::-moz-range-progress {
    background-color: $primary;
  }
  /* IE*/
  &::-ms-fill-lower {
    background-color: $primary;
  }
}

#search-bar {
  .form-control,
  .btn,
  .input-group-text {
    transition: all 0.15s ease-in-out;
  }

  .btn:hover .bi {
    color: $light !important;
    -webkit-text-stroke: 0.5px;
  }

  &:hover > .form-control,
  &:hover > .btn,
  &:hover > .input-group-text {
    background-color: $gray-800 !important;
  }

  &:hover .bi-search {
    color: $light !important;
  }

  &:focus-within {
    box-shadow: 0 0 0 2px $light;
  }

  &:focus-within > .form-control,
  &:focus-within > .btn,
  &:focus-within > .input-group-text {
    background-color: $success !important;
  }

  &:focus-within .bi-search {
    color: $light !important;
  }
}

#search-results .list-group-item {
  --bs-list-group-bg: #2a2a2a;
  --bs-list-group-action-hover-bg: #404040;
  --bs-list-group-action-active-bg: #404040;
}
